<html>
<head>
    <title>SMT Viewer</title>

    <!--Styles-->
    <link rel="stylesheet" href="css/smts-main.css">
    <link rel="stylesheet" href="css/smts-cnf.css">
    <link rel="stylesheet" href="css/smts-tables.css">
    <link rel="stylesheet" href="css/smts-timeline.css">
    <link rel="stylesheet" href="css/smts-tree.css">
    <link rel="stylesheet" href="css/bootstrap-switch.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.20.1/vis.min.css">
    <style type="text/css"></style>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="images/Logo_Budakovic.png"/>
    <base href="">
</head>

<body ng-app="myApp">

<div id="smts-main" class="row container-fluid">
    <!--First column-->
    <div id="smts-menu" class="col-sm-3">
        <!--Title-->
        <div id="smts-title">
            <span id="smts-title-title">SMT Viewer</span>
            <span id="smts-title-version"></span>
        </div>
        <!--Instances-->
        <div id="smts-instances-container" class="smts-container" ng-controller="InstancesController" ng-init='load()'>
            <div id="smts-instances-title" class="smts-container-title">Instances</div>

            <div id="smts-instances-table-container" class="smts-table-container">
                <table id="smts-instances-table" class="smts-table smts-table-interactive">
                    <thead>
                    <th>Instances</th>
                    </thead>
                    <tbody>
                    <tr data-instance="{{instance.name}}"
                        ng-repeat="instance in instances"
                        ng-click="selectInstance(instance)">
                        <td>{{instance.name}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!--Utilities-->
        <div id="smts-utilities-container" class="smts-container">

            <div id="smts-utilities-title" class="smts-container-title">Utilities</div>

            <ul id="smts-utilities-navbar" class="nav nav-tabs smts-navbar">
                <li class="active"><a data-toggle="tab" href="#smts-taskhandler-container">Task Handler</a></li>
                <li><a data-toggle="tab" href="#smts-options-container">Options</a></li>
            </ul>

            <!--Task Handeler-->
            <div id="smts-utilities-tab-content" class="tab-content">
                <div id="smts-taskhandler-container" class="smts-container tab-pane active" ng-controller="TaskHandler" ng-init='load()'>

                    <!--Server-->
                    <div id="smts-server-container" class="smts-container smts-hidden">
                        <!--<div id="smts-server-title" class="smts-container-title">Server</div>-->
                        <div>
                            <p class="smts-container-subtitle">Solving Instance:</p>
                            <p id="smts-server-solving-instance">{{instanceName}}</p>
                            <p id="smts-server-solving-time">{{instanceTime}}s ({{instanceLeft}}s left)</p>
                        </div>
                        <div>
                            <p class="smts-container-subtitle">Timeout:</p>
                            <div class="smts-container-horizontal">
                                <button class="btn btn-default smts-monospace" value="-" ng-click="changeTimeout('decrease')">-</button>
                                <input id="smts-server-timeout" class="form-control" type="number" value="100">
                                <button class="btn btn-default smts-monospace" value="+" ng-click="changeTimeout('increase')">+</button>
                            </div>
                            <div class="smts-container-horizontal">
                                <button class="btn btn-default" value="Stop" ng-click="stop()" style="width: 100%">Stop</button>
                            </div>
                        </div>
                        <div>
                            <p class="smts-container-subtitle">New instance:</p>
                            <form class="smts-container-form" action="/upload/instance" method="post"
                                  encType="multipart/form-data" onsubmit="smts.tools.formSubmit(event)">
                                <label class="btn btn-default btn-browse">Browse
                                    <input name="smts-upload-instance" type="file" accept=""
                                           onchange="smts.tools.formBrowse(event)" required>
                                </label>
                                <input class="btn btn-default" type="submit" value="Upload"/>
                                <div class="smts-message">No file selected</div>
                            </form>
                        </div>
                    </div>

                    <!--Database-->
                    <div id="smts-database-container" class="smts-container smts-hidden">
                        <!--<div id="smts-database-title" class="smts-container-title">Database</div>-->
                        <div class="smts-container">
                            <p class="smts-container-subtitle">New database:</p>
                            <form class="smts-container-form" action='/upload/database' method='post'
                                  encType="multipart/form-data" onsubmit="smts.tools.formSubmit(event)">
                                <label class="btn btn-default btn-browse">Browse
                                    <input name="smts-upload-database" type="file" accept=".db"
                                           onchange="smts.tools.formBrowse(event)" required>
                                </label>
                                <input class="btn btn-default" type='submit' value='Upload'/>
                                <div class="smts-message">No file selected</div>
                            </form>
                        </div>
                    </div>
                </div>

                <!--Options-->
                <div id="smts-options-container" class="smts-container tab-pane">
                    <div class="smts-container-subtitle">Tree</div>
                    <div class="checkbox">
                        <label><input id="smts-option-balanceness" type="checkbox" onclick="updateOptionBalanceness()">
                            Show balanceness
                        </label>
                    </div>
                    <div class="smts-container-subtitle">CNF</div>
                    <div class="checkbox">
                        <label><input id="smts-option-learnts" type="checkbox" onclick="smts.cnf.toggleLearnts()" checked>
                            Show learnts
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Second column-->
    <div id="smts-content" class="col-sm-9 smts-hidden">

        <!--<div id="smts-content-title" class="smts-container-title">Content</div>-->

        <ul id="smts-content-navbar" class="nav nav-tabs smts-navbar">
            <li id="smts-content-navbar-tree" class="active"><a data-toggle="tab" href="#smts-content-instance">Tree</a></li>
            <li id="smts-content-navbar-smt" class=""><a data-toggle="tab" href="#smts-content-cnf">CNF</a></li>
        </ul>

        <div id="smts-content-tab-content" class="tab-content">
            <!--Instance data-->
            <div id="smts-content-instance" class="tab-pane active" >
                <div id="smts-content-instance-data" class="row">
                <!--Left column-->
                <div id="smts-content-instance-data-left" class="col-sm-8 container-fluid">
                    <!--Tree view-->
                    <div id="smts-svg-container">
                        <!--<div id="smts-svg-title" class="smts-container-title">SVG</div>-->
                        <div id="smts-tree-container" class="smts-container tab-pane active" ng-controller="ViewController"></div>
                    </div>

                    <!--Event view-->
                    <div id="smts-events-container" class="smts-container" ng-controller="EventController">
                        <div id="smts-events-title" class="smts-container-title">Events</div>

                        <ul id="smts-events-navbar" class="nav nav-tabs smts-navbar">
                            <li id="smts-events-navbar-all" class="active"><a data-toggle="tab" href="" ng-click="showAll()">All</a></li>
                            <li id="smts-events-navbar-selected" ><a data-toggle="tab" href="" ng-click="showSelected()">Selected</a></li>
                        </ul>

                        <div id="smts-events-table-container" class="smts-table-container">
                            <table id="smts-events-table" class="smts-table smts-table-interactive">
                                <thead>
                                <tr>
                                    <th>Nr</th>
                                    <th>Time</th>
                                    <th>Node</th>
                                    <th>Event</th>
                                    <th>Refers to</th>
                                    <th>Solver</th>
                                </tr>
                                </thead>
                                <tbody ng-keydown="shiftSelected($event)" tabindex="0">
                                <tr id="smts-events-event-{{event.id}}"
                                    data-event="{{event.id}}"
                                    data-node="{{event.node}}"
                                    data-data-node="{{event.data && event.data.node ? event.data.node : null}}"
                                    ng-repeat="event in events"
                                    ng-click="selectEvent(event, $index)">
                                    <td>{{$index}}</td>
                                    <td>{{event.ts}}s</td>
                                    <td>{{event.node}}</td>
                                    <td>{{event.event}}</td>
                                    <td>{{event.data && event.data.node ? event.data.node : ''}}</td>
                                    <td>{{event.solver}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!--Right column-->
                <div id="smts-content-instance-data-right" class="col-sm-4">
                <!--Solver view-->
                <div id="smts-solvers-container" class="smts-container" ng-controller="SolverController">
                    <div id="smts-solvers-title" class="smts-container-title">Solvers</div>

                    <ul id="smts-solvers-navbar" class="nav nav-tabs smts-navbar">
                        <li id="smts-solvers-navbar-all" class="active"><a data-toggle="tab" href="" ng-click="showAll()">All</a></li>
                        <li id="smts-solvers-navbar-selected" ><a data-toggle="tab" href="" ng-click="showSelected()">Selected</a></li>
                    </ul>

                    <div id="smts-solvers-table-container" class="smts-table-container">
                        <table id="smts-solvers-table" class="smts-table smts-table-interactive">
                            <thead>
                            <th>Solver</th>
                            <th>Node</th>
                            <th>Time</th>
                            <th>Learnts</th>
                            </thead>
                            <tbody>
                            <tr data-solver="{{solver.name}}"
                                data-node="{{solver.node}}"
                                ng-repeat="solver in solvers"
                                ng-click="updateDataTable(solver)">
                                <td>{{solver.name}}</td>
                                <td>{{solver.node}}</td>
                                <td>{{formatExecutionTime(solver)}}</td>
                                <td><div class="btn btn-default btn-xs" ng-click="getLearnts($event, solver)">Learnts</div></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!--Data view-->
                <div id="smts-data-container" class="smts-container">
                    <div id="smts-data-title" class="smts-container-title"></div>
                    <div id="smts-data-table-container" class="smts-table-container"></div>
                </div>
            </div>
                </div>
                <div id="smts-content-instance-timeline" class="row">
                <div id="smts-timeline-line"></div>
            </div>
            </div>

            <!--SMT-->
            <div id="smts-content-cnf" class="tab-pane">
                <div id="smts-content-cnf-container"></div>
                <div id="smts-content-cnf-literal-info" class="smts-hidden">
                    <h4 class="smts-title">Literal</h4>
                    <div class="smts-subtitle">
                        <h5 class="smts-subtitle">Variables</h5>
                        <input id="smts-content-cnf-literal-info-variables-switch" type="checkbox" checked/>
                    </div>
                    <div id="smts-content-cnf-literal-info-variables"></div>
                    <div class="smts-subtitle">
                        <h5 class="smts-subtitle">Clauses</h5>
                        <input id="smts-content-cnf-literal-info-clauses-switch" type="checkbox" checked/>
                    </div>
                    <div id="smts-content-cnf-literal-info-clauses"></div>
                    <div class="smts-subtitle">
                        <h5 class="smts-subtitle">Formula</h5>
                    </div>
                    <div id="smts-content-cnf-literal-info-formula"></div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

<!--jQuery-->
<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<!--<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
<!--Bootstrap-->
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="scripts/bootstrap-switch.min.js"></script>
<!--Angular-->
<script type="text/javascript" src="https://code.angularjs.org/1.5.3/angular.min.js"></script>
<script type="text/javascript" src="scripts/ng-file-upload.min.js"></script>
<script type="text/javascript" src="scripts/ng-file-upload-shim.min.js"></script>
<!--Other external libraries-->
<script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.20.1/vis.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<!--TreeManager-->
<script type="text/javascript" src="treeManager/Event.js"></script>
<script type="text/javascript" src="treeManager/Node.js"></script>
<script type="text/javascript" src="treeManager/Solver.js"></script>
<script type="text/javascript" src="treeManager/Tree.js"></script>
<!--Utilities-->
<script type="text/javascript" src="scripts/smts.js"></script>
<script type="text/javascript" src="scripts/smts-cnf.js"></script>
<script type="text/javascript" src="scripts/smts-tables.js"></script>
<script type="text/javascript" src="scripts/smts-timeline.js"></script>
<script type="text/javascript" src="scripts/smts-tree.js"></script>
<script type="text/javascript" src="scripts/options.js"></script>
<!--Angular-->
<script type="text/javascript" src="angular/main.js"></script>
<script type="text/javascript" src="angular/EventController.js"></script>
<script type="text/javascript" src="angular/InstancesController.js"></script>
<script type="text/javascript" src="angular/SolverController.js"></script>
<script type="text/javascript" src="angular/TaskHandlerController.js"></script>
<script type="text/javascript" src="angular/ViewController.js"></script>

</html>