.idea/
build/
cmake-build-debug/CMakeCache.txt
cmake-build-debug/CMakeFiles/
gui/.idea/
gui/benchmarks/
gui/databases/
gui/node_modules/
gui/www/treeManager/*.d.ts
gui/www/treeManager/*.js
gui/www/treeManager/*.map
server/*.db
server/__pycache__/
server/config/config.py
server/config/__pycache__/
tests/
