.idea/
__pycache__/
build/
cmake-build-debug/CMakeCache.txt
cmake-build-debug/CMakeFiles/
gui/.idea/
gui/benchmarks/
gui/databases/
gui/node_modules/
gui/www/SMT/*.d.ts
gui/www/SMT/*.js
gui/www/SMT/*.map
gui/www/treeManager/*.d.ts
gui/www/treeManager/*.js
gui/www/treeManager/*.map
server/*.db
server/__pycache__/
server/config/config.py
server/config/__pycache__/
src/cmake-build-debug/
tests/
