#smts-content-instance-timeline {
    display: flex;
    justify-content: center;
    align-items: center;
}

#smts-timeline-line {
    width: 70%;
    height: 4px;
    position: relative;
    background-color: var(--color-primary-dark);
}

.smts-timeline-dash {
    width: 1px;
    height: 30px;
    position: absolute;
    top: -13px; /* (dash.height - line.height) / 2 */
    background-color: var(--color-primary-dark);
    cursor: pointer;
}

.smts-timeline-dash.smts-active {
    background-color: var(--color-secondary-light);
    border: 2px solid var(--color-secondary-light);
    z-index: 2;
}

.smts-timeline-dash-seconds {
    width: 50px;
    position: absolute;
    top: -20px;
    left: -25px; /* dash-seconds.width / 2 */
    text-align: center;
    color: var(--color-primary-dark);
}
