/*Tree construction*/

.smts-node {
    cursor: pointer;
}

.smts-overlay {
    background-color: #eee;
}

.smts-node circle,
.smts-node rect {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.smts-node text {
    font-size: 10px;
    font-family: sans-serif;
}

.smts-link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

circle.smts-sat {
    fill: #008000; /* Green */
}

circle.smts-sat.smts-propagated {
    fill: #99CC99; /* Light green */
}

circle.smts-unsat {
    fill: #FF0000; /* Red */
}

circle.smts-unsat.smts-propagated {
    fill: #FF9999; /* Light red */
}

circle.smts-unknown {
    fill: #FFE4C4; /* Bisque */
}

circle.smts-selected {
    fill: rgba(0, 0, 255, 0.1); /* Blue */
    pointer-events: none;
    stroke: none;
}

circle.smts-balanceness {
    stroke: none;
    fill-opacity: 0.3;
}

rect.smts-nodeRect {
    fill: lightblue;
    transform: rotate(45deg) translate(-50%, -50%);
}