/* Column 1 */

#smts-title {
    height: 10%;

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;

    text-shadow: 1px 1px var(--color-highlight);
    font-weight: bold;
}

#smts-title-title {
    font-size: 4vh;
}

#smts-title-version {
    font-size: 2vh;
}

#smts-instances-container {
    height: 30%;
}

#smts-utilities-container {
    height: 60%;
}

#smts-utilities-tab-content {
    overflow: auto;
}

#smts-server-solving-instance {
    word-wrap: break-word;
}


/* Column 2 */

#smts-svg-container {
    height: 55%;
    display: flex;
    flex-direction: column;
}

#smts-svg-tab-content {
    flex: 1;
    display: flex;
}

#smts-tree-container {
    flex: 1;
    background-color: var(--color-tree-view);
    cursor: move;
}

#smts-events-container {
    height: 45%;
}


/* Column 3 */

#smts-solvers-container {
    height: 55%;
}

#smts-solvers-table > tr > td {
    white-space: nowrap;
    word-break: keep-all;
}

#smts-data-container {
    height: 45%;
}