<html>
<head>
    <title>SMT Viewer</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/timeline.css">
    <link rel="stylesheet" href="css/tree.css">
    <style type="text/css"></style>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="shortcut icon" type="image/x-icon" href="images/Logo_Budakovic.png"/>
    <base href="">
</head>

<body ng-app="myApp">

<div id="smts-views" class="container-fluid">
    <div id="smts-views-row" class="row">
        <!--First column-->
        <div id="smts-column-1" class="col-md-3 smts-column">
            <!--Title-->
            <div id="smts-title" class="">SMT Viewer</div>
            <!--Instance-->
            <div id="smts-instance-container" class="smts-container" ng-controller="InstancesController" ng-init='load()'>
                <table class="smts-table smts-table-interactive">
                    <thead>
                    <th>Instances</th>
                    </thead>
                    <tbody>
                    <tr data-instance="{{instance.name}}"
                        ng-repeat="instance in instances"
                        ng-click="clickEvent($event,instance)">
                        <td>{{instance.name}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <!--Task Handeler-->
            <div id="smts-task-handler" class="smts-container" ng-controller="TaskHandler" ng-init='load()'>
                <div id="solInst" class="smts-hidden">
                    <b>Solving Instance:</b>
                    <h id="solvingInstance">{{solvingInstance}}{{solvingInstanceRemaining}}</h>
                </div>

                <div id="newDB" class="smts-hidden">
                    <b>Upload new database file:</b>
                    <form id="uploadDB"
                          ref='uploadForm'
                          id='uploadForm'
                          action='/upload'
                          method='post'
                          encType="multipart/form-data">
                        <input id="db" type="file" name="db" accept=".db" required>
                        <input type='submit' value='Upload!'/>
                    </form>
                </div>

                <div id="newInst" class="smts-hidden">
                    <b>Upload new instance:</b>
                    <form ref='uploadInstanceForm'
                          id='uploadInstanceForm'
                          action='/uploadInstance'
                          method='post'
                          encType="multipart/form-data">
                        <input type="file" name="instance" accept="" required>
                        <input type='submit' value='Upload!'/>
                    </form>
                </div>
                <div id="task" class="smts-hidden">
                    <form>
                        <b>Timeout:</b><input type="text" style="width: 100px;" name="timeout"><br>
                        <input type="submit" value="Increase" ng-click="increaseTimeout()">
                        <input type="submit" value="Decrease" ng-click="decreaseTimeout()">
                        <input type="submit" name="stopTimeout" value="Stop" ng-click="stopSS()">
                    </form>
                </div>
            </div>
        </div>

        <!--Second column-->
        <div id="smts-column-2" class="col-md-6 smts-column">
            <!--Tree view-->
            <div id="smts-tree-container" class="smts-container" ng-controller="ViewController"></div>

            <!--Event view-->
            <ul id="smts-event-navbar" class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="" onclick="showAll()">All</a></li>
                <li><a data-toggle="tab" href="" onclick="showSelected()">Selected</a></li>
            </ul>

            <div id="smts-event-container" class="smts-container" ng-controller="EventController">
                <table class="smts-table smts-table-interactive">
                    <thead>
                    <tr>
                        <th>Nr</th>
                        <th>Time</th>
                        <th>Node</th>
                        <th>Event</th>
                        <th>Solver</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr id="event{{event.id}}" data-event="{{event.id}}" ng-repeat="event in events" ng-click="showEvent($event,$index,event)">
                        <td>{{$index}}</td>
                        <td style="white-space: nowrap;">{{event.ts}} s</td>
                        <td>{{event.node}}</td>
                        <td>{{event.event}}</td>
                        <td>{{event.solver}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!--Third column-->
        <div id="smts-column-3" class="col-md-3 smts-column">
            <!--Solver view-->
            <div id="smts-solver-container" class="smts-container" ng-controller="SolverController">
                <p><b>SOLVERS</b></p>
                <table class="smts-table smts-table-interactive">
                    <thead>
                    <th>Solver</th>
                    <th>Node</th>
                    </thead>
                    <tbody>
                    <tr data-node="{{solver.node}}" ng-repeat="solver in solvers" ng-click="clickEvent($event,solver)">
                        <td>{{solver.name}}</td>
                        <td>{{solver.node}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <!--Data view-->
            <div id="smts-data-container" class="smts-container">
                <p id="smts-data-container-title"></p>
                <div id="smts-data-container-content"></div>
            </div>
        </div>
    </div>
</div>

<div id="smts-timeline" class="">
    <div id="smts-timeline-line"></div>
    <div id="smts-timeline-span"></div>
</div>

</body>
<script type="text/javascript" src="https://code.angularjs.org/1.5.3/angular.min.js"></script>

<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="angular/main.js"></script>
<script type="text/javascript" src="angular/EventController.js"></script>
<script type="text/javascript" src="angular/InstancesController.js"></script>
<script type="text/javascript" src="angular/SolverController.js"></script>
<script type="text/javascript" src="angular/TaskHandlerController.js"></script>
<script type="text/javascript" src="angular/ViewController.js"></script>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script type="text/javascript" src="scripts/dndTree.js"></script>
<script type="text/javascript" src="scripts/ng-file-upload.min.js"></script>
<script type="text/javascript" src="scripts/ng-file-upload-shim.min.js"></script>
<script src="scripts/prettyprint.js"></script>
<script src="treeManager/Event.js"></script>
<script src="treeManager/Node.js"></script>
<script src="treeManager/Solver.js"></script>
<script src="treeManager/Tree.js"></script>
<script src="scripts/timeline.js"></script>

</html>