<html>
<head>
	<title>SMT Viewer</title>
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/timeline.css">
	<style type="text/css"></style>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="shortcut icon" type="image/x-icon" href="images/Logo_Budakovic.png" />
	<base href="">

</head>
<body ng-app="myApp" class="w3-grey">
<header >
	<div class="w3-container w3-center ">
		<h1 style="text-shadow:1px 1px 0 #7CFC00" ><b>SMT Viewer</b></h1>
		<!--<img src="images/Logo_Budakovic.png" style="width:100px;height:100px;">-->
	</div>
</header>

<div class="w3-cell-row">
	<div ng-controller="TreeController" id="d1">
		<form ref='uploadForm'
			  id='uploadForm'
			  action='http://localhost:3000/upload'
			  method='post'
			  encType="multipart/form-data">
			<input type="file" name="db" accept=".db" required>
			<input type='submit' value='Upload!' />
		</form>
	</div>
	<div class="w3-container w3-border w3-quarter w3-cell" id="d2" style="max-height: 500px; overflow:auto;" ng-controller="InstancesController" ng-init='load()'>
		<table>
			<th> <b>Instances</b></th>

			<tr ng-repeat="x in entries" ng-click="clickEvent($event,x)">
				<td>{{ x.name }}</td>
			</tr>
		</table>

	</div>

	<div class = "tree_container w3-half w3-border w3-cell" id="tree-container" ng-controller="ViewController">

	</div>


	<div class="w3-quarter w3-border w3-container w3-cell" style="max-height: 500px; overflow:auto;" ng-controller="SolverController" id="d4">
		<p > <b> SOLVERS </b></p>
		<table>
			<th ><b>Solver</b></th>
			<th><b>Node</b></th>

			<tr ng-repeat="x in entries" ng-click="clickEvent($event,x)">
				<td>{{ x.name}}</td>
				<td>{{ x.node}}</td>
			</tr>
		</table>
		<div id="d4_2"> </div>

	</div>
</div>

<div class="w3-cell-row">
	<div class="w3-container w3-border w3-quarter w3-cell">
	</div>
	<div class="w3-container w3-border w3-half w3-cell"  style="max-height: 500px; overflow:auto;" ng-controller="EventController" id="d5">
		<table id="d5_2">
			<th><b>Id</b></th>
			<th><b>Ts</b></th>
			<!--<td><b>Name</b></td>-->
			<th><b>Node</b></th>
			<th><b>Event</b></th>
			<th><b>Solver</b></th>
			<th><b>Data</b></th>

			<tr id="event{{x.id}}" ng-repeat="x in entries" ng-click="showEvent($event,x)">
				<td>{{ x.id }}</td>
				<td>{{ x.ts }}</td>
				<!--<td>{{ x.name }}</td>-->
				<td>{{ x.node }}</td>
				<td>{{ x.event }}</td>
				<td>{{ x.solver }}</td>
				<td>{{ x.data }}</td>
			</tr>
		</table>

	</div>

	<div class="w3-container w3-border w3-quarter w3-cell" id="d6">
		<p id="d6_1" > <b> DATA </b></p>
		<div id="d6_2"> </div>
	</div>

</div>

<div id="lineCont">
	<div id="line"></div>
	<div id="span">Date Placeholder</div>
</div>
</body>

<script type="text/javascript" src="scripts/angular.min.js"></script>
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="main.js"></script>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script type="text/javascript" src="scripts/dndTree.js"></script>
<script type="text/javascript" src="scripts/ng-file-upload.min.js"></script>
<script type="text/javascript" src="scripts/ng-file-upload-shim.min.js"></script>
<script src="scripts/prettyprint.js"></script>
<script src="treeManager/event.js"></script>
<script src="treeManager/node.js"></script>
<script src="treeManager/solver.js"></script>
<script src="treeManager/tree.js"></script>
<script src="scripts/timeline.js"></script>

</html>