/* Basics */

html, body {
    height: 100%;
    width: 100%;
    overflow: auto;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-flow: column;
    align-items: stretch;
}


/* Tables */

table, th, tr, td {
    margin: 1%;
    padding: 5px;
    border: 1px solid grey;
    border-collapse: collapse;
    max-width: 100%;
    word-break: break-all;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.etable tbody tr:hover {
    cursor: pointer;
    background: #BDC3C7;
}

th {
    background-color: #00cc00;
}

.etable, .data-table {
    width: 100%;
    font-size: 0.8em;
}

/* Views */

#views {
    margin: 0;
    padding: 0;
    height: 90%;
}

.column {
    height: 100%;
    overflow: auto;
}


/* Column 1 */

#title {
    text-shadow: 1px 1px #7CFC00;
    font-size: 4vh;
    font-weight: bold;
    vertical-align: middle;
    height: 10%;
}

#instance-container {
    height: 60%;
    overflow: auto;
}

#task-handler {
    height: 30%;
}


/* Column 2 */

#tree-container {
    width: 100%;
    height: 55%;
    margin: 16px 0;
    padding: 0;
}

#event-container {
    overflow: auto;
    height: 40%;
}


/* Column 3 */

#solver-container {
    height: 70%;
    overflow: auto;
}

#solver-container > table > tr > td {
    white-space: nowrap;
    word-break: keep-all;
}

#data-container {
    height: 30%;
    overflow: auto;
}

.data-table {

}


/* Timeline */

#lineCont {
    width: 100%;
    height: 10%;
}


/* For maintaining fix header in table */

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

.highlight {
    background-color: #7CFC00;
}

.fixed {
    top: 0;
    position: fixed;
    width: auto;
    display: none;
    border: none;
}

.container {
    width: 100%;
    margin: auto;
}

.hidden {
    display: none;
}