
#smts-timeline-line {
    height: 6px;
    width: 70%;
    /*background: white;*/
    background: gray;
    border-radius: 5px;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    position: relative;
}

#smts-timeline-span {
    display: none;
    width: 70%;
    margin: auto;
    margin-top: 25%;
    text-align: center;
    /*color: white;*/
    color: gray;
}

.smts-timeline-dash {
    width: 1px;
    height: 30px;
    background: gray;
    position: absolute;
    top: -10px;
    border: 2px solid gray;
    cursor: pointer;
}

.smts-timeline-dash .smts-timeline-popupSpan {
    width: auto;
    height: auto;
    padding: 10px;
    white-space: nowrap;
    color: gray;
    position: absolute;
    top: 20px;
    left: -75px;
    display: none;
    transition: all 0.1s ease-out;
}

.smts-timeline-dash.hover:before,
.smts-timeline-circle.smts-timeline-active:before {
    display: block;
}

.smts-timeline-dash.hover.smts-timeline-popupSpan,
.smts-timeline-circle.smts-timeline-active.smts-timeline-popupSpan {
    display: block;
}

.smts-timeline-dash.smts-timeline-active.smts-timeline-popupSpan {
    top: -40px;
}

.smts-timeline-active {
    border: 2px solid #00cc00;
}
