/*Tree construction*/

.node {
    cursor: pointer;
}

.overlay{
    background-color:#EEE;
}

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.node text {
    font-size:10px;
    font-family:sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

.templink {
    fill: none;
    stroke: red;
    stroke-width: 3px;
}

.ghostCircle.show{
    display:block;
}

.ghostCircle, .activeDrag .ghostCircle{
    display: none;
}

/**/
circle.nodeCircle.sat{
    fill: green;
}

circle.nodeCircle.unsat{
    fill: #FF0000;

}

circle.nodeCircle.unknown{
    fill: #FFE4C4

}

circle.nodeCircle.orNode {
    fill: #C0C0C0;
}

circle.nodeCircle.selectedNode {
    fill: rgba(0, 0, 255, 0.1);
    stroke: none;
}