/*Tree construction*/

.node {
    cursor: pointer;
}

.overlay {
    background-color: #EEE;
}

.node circle,
.node rect {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.node text {
    font-size: 10px;
    font-family: sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

.templink {
    fill: none;
    stroke: red;
    stroke-width: 3px;
}

/**/
circle.sat {
    fill: green;
}

circle.sat.propagated {
    fill: #66B266;
}

circle.unsat {
    fill: #FF0000;
}

circle.unsat.propagated {
    fill: #FF6666;
}

circle.unknown {
    fill: #FFE4C4;
}

circle.selectedNode {
    fill: rgba(0, 0, 255, 0.1);
    stroke: none;
}

rect.nodeRect {
    fill: lightblue;
    transform: rotate(45deg) translate(-50%, -50%);
}