/*Tree construction*/

.node {
    cursor: pointer;
}

.overlay {
    background-color: #eee;
}

.node circle,
.node rect {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.node text {
    font-size: 10px;
    font-family: sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

circle.sat {
    fill: #008000; /* Green */
}

circle.sat.propagated {
    fill: #99CC99; /* Light green */
}

circle.unsat {
    fill: #FF0000; /* Red */
}

circle.unsat.propagated {
    fill: #FF9999; /* Light red */
}

circle.unknown {
    fill: #FFE4C4; /* Bisque */
}

circle.selected {
    fill: rgba(0, 0, 255, 0.1); /* Blue */
    stroke: none;
}

rect.nodeRect {
    fill: lightblue;
    transform: rotate(45deg) translate(-50%, -50%);
}